<% layout('layouts/boilerplate')%>

<h1>All Patients</h1>

    <% for (let patient of patients){%>
            <div class="card" mb-3>
                <div class="row">
                    <div class="col-md-4">
                            <a class="btn btn-primary" href="/<%=patient.id%>/records"><%= patient.username%></a>
                    </div>
                </div>
            </div>
    <% }%>


<div>
    <a class="btn btn-primary" href="/profile">Back to profile</a>
</div>
